<div class="container">
    <div class="card">

        <h1>Compose Mail</h1>
        <form (ngSubmit)="doSubmitForm()">

        <mat-form-field class="field" appearance="outline">
            <mat-label>To</mat-label>
            <input name="to" [(ngModel)]="data.to" matInput>
          </mat-form-field>
        <mat-form-field class="field" appearance="outline">
            <mat-label>Subject</mat-label>
            <input name="subject" [(ngModel)]="data.subject" matInput>
          </mat-form-field>

          <mat-form-field class="example-full-width field">
            <mat-label>Enter Message</mat-label>
            <textarea name="message" [(ngModel)]="data.message" rows="10" matInput placeholder="Hey Angular Testing"></textarea>
          </mat-form-field>

          <div class="text-center"> 
          <mat-spinner *ngIf="flag" style="margin: auto;"></mat-spinner>

            <button [disabled]="flag" type="Submit" mat-raised-button color="primary">Send</button>
            <button [disabled]="flag" type="reset" mat-raised-button color="primary">Reset</button>
          </div>
        
        </form>
<!-- <p [textContent]="data.to"></p>
<p [textContent]="data.subject"></p>
<p [textContent]="data.message"></p> -->

    </div>
</div>
